.dark-desktop{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 300;
}

.carousel-desktop{

}

.btn-close-desktop{
    display: flex;
    justify-content: right;
}

.btn-close-desktop img{
    width: 15px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.sneaker-img-desktop{
    display: none;
    width: 400px;
    border-radius: 12px;
}

.mostrar-imagenes{
    display: block;
}

.thumbnails-carousel{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.mythumb{
    background-color: #fff;
    width: 70px;
    border-radius: 5px;
}

.thumbnail-img-desktop{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.thumbnail-img-desktop:hover{
    filter:opacity(.6);
}

.container-carousel-desktop-img{
    position: relative;
}

#btn-previous-desktop,#btn-next-desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}



#btn-previous-desktop{
    position: absolute;
    top: 50%;
    left:-5%;
    transform: translateY(-50%);
    
}

#btn-next-desktop{
    position: absolute;
    top: 50%;
    right:-5%;
    transform: translateY(-50%);
}

#btn-previous-desktop img, #btn-next-desktop img{
    width: 13px;
    height: 15px;
}